<header class="site-header">
<div class="menu">
    <div class="icon-close">
      <i class="material-icons">close</i>
    </div>
      <ul>
        <li><a href="/nuestros-origenes">NUESTROS ORIGENES</a></li>
  <li><a href="/nuestro-cafe">NUESTRO CAFÉ</a></li>
  <li><a href="/comprar">COMPRAR</a></li>
  <li><a href="/preguntas-frecuentes">PREGUNTAS FRECUENTES</a></li>
      </ul>
  </div>
  <i class="material-icons" id="icon-menu">menu</i>
  <a href="/comprar"><i class="material-icons pull-right" id="shopping-cart">shopping_cart</i></a>
  <div class="main-nav">
    <a href="/">
    <img src="/images/donlucas-logo.png" style="width:120px;height:110px;" id="logo">
    </a>
    <br>
<ul id="menu">
  <li><a href="/nuestros-origenes">NUESTROS ORIGENES</a></li>
  <li><a href="/nuestro-cafe">NUESTRO CAFÉ</a></li>
  <li><a href="/comprar">COMPRAR</a></li>
  <li><a href="/preguntas-frecuentes">PREGUNTAS FRECUENTES</a></li>
</ul>
</div>

</header>