---
---


#bs-over {
	font-family: "Oswald";
	background-color: #EFE5DE;
}

body {
	background-color: #EFE5DE;
}

p {
color: #01172F !important;
font-size: 16px !important;

}


#home-jumbotron {
 	background-image: url("/images/don-lucas-hero-cover.jpeg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 400px;
	text-align: center;
	padding:50px 50px 0px 50px;
	color: #fff8e1;
}

#home-jumbotron h1 {
	font-family: 'Catamaran';
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #EFE5DE;
}

#home-jumbotron h4 {
	letter-spacing: 2px;
	color: #EFE5DE;
}

#home-jumbotron h5 {
	letter-spacing: 2px;
	margin-bottom: 30px;
	color: #EFE5DE;
}

#home-jumbotron p {
	color: #EFE5DE;
}


#home-supporting {
	text-align: center;
	height: 700px;
	padding: 50px 50px 50px 50px;
	text-transform: uppercase;

}

#home-supporting h1 {
	color: #969696;
	letter-spacing: 2px;
	margin-top: 200px;
}

#home-supporting h3{
	padding: 20px;
}

#home-supporting p {
	text-transform: none;
	font-size: 16px;
}


#home-supporting-2 {
	background-image: url("/images/origenes.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 600px;
	text-align: center;
	padding:50px;
	background-attachment: fixed;

}

#home-supporting-2 {
	font-family: 'Catamaran'
}

#home-supporting-2 h2 {
	padding-top: 195px;
	font-size: 1.5em;
	  color: #fff;
	  text-shadow: 0px 2px 3px #333;
	  letter-spacing: 2px;
	  text-transform: uppercase;
}

#home-supporting-2 h4 {
	padding: 20px 0px 0px 0px;
	font-size: 2.5em;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0px 2px 3px #333;
	letter-spacing: 2px;


}

#home-featuring {
	text-align: center;
	margin-bottom: 150px;
}

#home-featuring h3 {
	text-transform: uppercase;
}

#home-featuring p {
	text-align: justify;
	letter-spacing: 1px;
	color: #989898;
	margin-bottom: 40px;
}

#home-featuring #button {
	padding: 18px 35px 18px 35px;
	border: 2px solid #01172F;
	border-radius: 2%;
	text-transform: uppercase;
	margin-bottom: 20px;
	background-color: #01172F;
	color: #EFE5DE;

}

 #home-featuring #button:hover {
	background-color: #EFE5DE;
	color: #01172F;
	transition: background-color .3s;
}

#home-featuring-2 {
	text-align: center;
	margin-top: 200px;

}

#home-featuring-2 h3 {
	padding: 40px 40px 10px 40px;
}

#home-featuring-2 p {
	margin-bottom: 40px;
}



#home-featuring-2 #button:hover {
	background-color: #EFE5DE;
	color: #000;
	transition: background-color .3s;
}

/** product display **/

#home-product {
	margin-top: 300px;
}

#home-product .img-responsive {
	margin-bottom: 20px;
	padding-bottom: 20px;
}

#home-product .region-name
{
	position: absolute;
	color: #fff;
	text-shadow: 0px 1px 2px #000;
}

#home-product p {
	display: inline-block;
	float: left;
}

/** tienda en linea **/

#page-product {
	margin-top: 20px;
}

#page-product .img-responsive {
	margin-bottom: 20px;
	padding-bottom: 20px;
}

#page-product .region-name
{
	position: absolute;
	color: #fff;
	text-shadow: 0px 1px 2px #000;
}

#page-product p {
	display: inline-block;
	float: left;
	font-weight: bold;
}

#origines-featuring {
	background-image: url("/images/SAM_7000.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
}
/*
#origenes-supporting p {
	margin-bottom: 4px;
	padding-bottom: 4px;
}
*/

#cafe-featuring {
	background-image: url("/images/nuestro-cafe.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
}

#cafe-featuring-3 {
	background-image: url("/images/origenes.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
}


#cafe-featuring-4 {
	background-image: url("/images/orden-en-linea.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
}

#cafe-featuring-7 {
	background-image: url("/images/origenes-2.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
}

#cafe-featuring-8 {
	background-image: url("/images/gourmet-blend-granos.jpeg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
}

#supporting-3 {
	text-align: center;
 	background-color: #EFE5DE;
	height: 400px;
}

#supporting-3 h1 {
	font-family: 'Catamaran';
	text-transform: uppercase;
	color: #01172F;
	letter-spacing: 2px;
	font-size: 4em;
	padding: 70px;
	padding-bottom: 10px;
}

#supporting-3 p {
	color: #01172F;
}

#distribuidores {
	text-align: center;
}

#distribuidores .row {
	margin: 80px; 
	padding: 40px;
}
#distribuidores h3 {
	text-transform: uppercase;
	text-decoration: underline;
	letter-spacing: 2px;
}

#contacto {
	text-align: center;
}

#faq {
	text-align: center;
}

#faq h3 {
	text-transform: uppercase;
	padding-top: 20px;
}

#faq p {
	text-align: justify;
}

.region p {
	margin-bottom: 40px;
	text-align: justify;
}

.region ul {
	list-style-type: none;
	display: inline;
	margin-left: 0px;
	padding-left: 0px;
}

.region li {
	display: inline-block;
}

.blog {
	text-align: center;
	color: #333;
}

/**SHOP TABS**/
#bs-over #ventana-1 {
	background-color: #01172F;
	text-transform: uppercase;
	border-color: #01172F;
	color: #EFE5DE;
}

#bs-over #ventana-2 {
	background-color: #A4ACB4;
	text-transform: uppercase;
	border-color: #EFE5DE; 
}

#bs-over .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #EFE5DE;
	border-color: #01172F; 
}


#bs-over .ui-widget-header {
	background: #EFE5DE;
	border-bottom: 1px solid #EFE5DE;
	border-left: 1px solid #EFE5DE;
	border-top: 1px solid #EFE5DE;
	border-right: 1px solid #EFE5DE;
	background-color: #EFE5DE;
}

#bs-over .ui-widget.ui-widget-content {
	border: 1px solid #EFE5DE;
	background-color: #EFE5DE;
}

#bs-over #ui-id-1 {
	font-weight: bold;

}

#bs-over #ui-id-2 {
	font-weight: bold;
	color: #01172F;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
	color: #EFE5DE !important;

}
/** loading image **/
.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #ffffff url('/images/don-lucas-animation.svg') no-repeat center center;
  background-size: 200px;
  z-index: 5;
  background-color: #EFE5DE;
}


/** orden en linea **/
.orden {
	text-align: center;
}

 #button {
	padding: 18px 35px 18px 35px;
	border: 2px solid #01172F;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	color: #EFE5DE;
	margin-bottom: 40px;
	background-color: #01172F;
}

 #button:hover {
	background-color: #EFE5DE;
	color: #01172F;
	transition: background-color .3s, color .3s;
}

#button-tienda {
	padding: 18px 35px 18px 35px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	color: #EFE5DE;
	background-color: #01172F;
	margin-bottom: 40px;
}

 #button-tienda:hover {
	background-color: #EFE5DE;
	color: #01172F;
	transition: background-color .3s;
}

body {
	position: relative;
  	overflow: scroll;
  	font-family: 'Oswald', sans-serif;
}

body p {
	font-weight: 200;
	color: #01172F;
	line-height: 30px; 
}

 .menu {
	background-color: #01172F;
	color: #fff;
	height: 100%;
  	position: fixed;
  	width: 220px;
  	right: 0;
  	transform: translateX(240px) scale(0.9);
  	z-index: 4;
  	margin-left: 0px;
  	padding-left: 0px;
  	font-family: 'Oswald', sans-serif;
  	transition: transform 0.5s;
}

.menu.open {
 	transform: translateX(0px);
}

#menu {
	margin-top: 40px;
	list-style-type: none;
	display: inline-block;
	margin-top: 20px;
}

#menu li {
	opacity: 0.9;
	display: inline-block;
	margin-left: 20px;
}

#menu li a {
	color: #000;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	display: inline;
	font-family: 'Oswald', sans-serif;
}

#menu li a:hover{
	color: #1E1E1E;
	transition: color .3s;
}

.main-nav {
	height: 250px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

#logo {
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 120px;
}


#shopping-cart {
	font-size: 2.5em;
	padding: 20px;
	margin-top: 100px;
	margin-right: 50px;
	color: #01172F;
	cursor: pointer;
}

#shopping-cart:hover {
	color: #344559;
}

.menu ul {
	list-style-type: none;
	margin-left: 25%;
	padding-left: 0px;
}

.menu li {
	padding: 10px;
	padding-left: 0px;
	margin-left: 0px;
	margin-top: 10px;
	font-size: 22px;
	padding-right: 5px;

}

.menu li a {
	text-decoration: none;
	color: #fff;
}

.menu #span a {
	color: #888888;
	border: none;
}

.icon-close i {
	cursor: pointer;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 28px;
}

#icon-menu {
	display: none;
	cursor: pointer;
	padding: 5px;
	margin-left: 5px;
	font-size: 28px;
	background-color: #01172F;
}

.btn {
	border-radius: 0%;
	background-color: #01172F;
	color: #fff;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #000;
}

.btn:hover {
	transition: background-color .3s, color .3s;
	background-color: #EFE5DE;
	color: #01172F;
}

body li a span {
	color: #57585B;
	background-color: #EFE5DE;
}

body li:hover a span {
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
    color: #57585B;
    background-color: #EFE5DE; 
}


body form {
	text-align: left;
	margin-bottom: 60px;
}

/** Footer **/

.footer h3 {
	text-transform: uppercase;
	margin-bottom: 100px;
	margin-top: 100px;
}

.footer p {
	text-align: center;
	margin-bottom: 100px;
	text-transform: uppercase;
}

.footer ul {
	list-style-type: none;
	text-align: center;
	margin-bottom: 50px;
	margin-left: 0px;
	padding-left: 0px;
}

.footer ul li {
	display: inline-block;
	padding: 5px;
	text-align: center;
	text-decoration: none;
}

.footer ul li a {
	text-decoration: none;
	color: #01172F;
}

.footer ul li a:hover {
	color: #333;
	transition: color .3s;
}

.footer h3 {
	text-align: center;
}

.footer img {
	display: inline-block;
}


.footer .container {
	margin-right: 1px;
	right: 1px;
}

.footer .social-networks i {
	font-size: 1.5em;
	margin-right: 25px;
}

@media only screen and (max-width: 768px) {

	#home-jumbotron {
		text-align: left;
		background-attachment: scroll;
		background-position: cover;
		width: 100% !important;
		height: 500px;
		overflow: hidden;
	}

	#home-jumbotron h5 {
	color: #fff;
	letter-spacing: 2px;
	margin-bottom: 5px;
}

	#home-supporting {
		min-height: 400px;
	}

	#home-supporting h1 {
		font-size: 2em;
	}

	#home-supporting h3{
	padding: 20px 5px 20px 5px;
		font-size: 1.5em;
	}

	#home-supporting p {
		font-size: 16px;
	}

	#home-featuring {
	text-align: center;
	margin-bottom: 50px;
}

	#home-featuring #cafe-img {
		margin-top: 50px;
	}

	#home-supporting h1 {
		margin-top: 50px;
	}

	#home-supporting-2 {
		background-attachment: scroll;
		background-position: cover;
		width: 100% !important;
		height: 500px;
	}

	#origenes-supporting #button {
		font-size: 0.8em;
	}

	#home-supporting-2 h2 {
		font-size: 1em;
	}


	#home-supporting-2 h4 {
		font-size: 1.5em;
	}

	#home-featuring-2 {
	margin-top: 100px;
	text-align: center;

	}

	#home-featuring-2 h3 {
	text-align: center;
	font-size: 1.5em;

	}

	#home-featuring-2 p {
	text-align: center;
	font-size: 16px;

	}


	#home-product {
	margin-top: 150px;
}

	.region a {
		display: inline-block;
	}

	#distribuidores .row {
	margin: 5px; 
	padding: 10px;
	}

	#menu {
		display: none;
	}

	#shopping-cart {
		display: none;
	}

	#logo {
		margin-left: 5px;
	}


	.main-nav {
		height: 175px;
	}


		#icon-menu {
		font-size: 32px;
		color: #EFE5DE;
		padding-left: 5px;
		padding-top: 3px;
		margin-right: 0px;
		position: fixed;
		z-index: 3;
		display: block;
		float: right;
		margin-top: 20px;
		top: 5px;
		right: 20px;
		cursor: pointer;
	}

	#button {
		margin-bottom: 80px;
		padding: 10px;
	}

	#button-tienda {
		font-size: 0.9em;
		padding: 10px;
	}

	#home-featuring #button {
		margin-bottom: 60px;
		padding: 10px;
	}

	#granos {
		margin-top: 60px;
	}

	#supporting-3 {
		background-attachment: scroll;
		padding: 20px 30px 30px 30px;
		height: 555px;
	}

	#supporting-3 h1 {
		padding: 60px 30px 10px 30px;
		font-size: 2.5em;
		text-align: center;
	}

	.loader {
		padding-top: 0px;
		margin-top: 0px;
	} 
	#origines-featuring, #cafe-featuring, #cafe-featuring-2, #cafe-featuring-3, #cafe-featuring-4, #cafe-featuring-5, #cafe-featuring-6, #cafe-featuring-7, #cafe-featuring-8 {
		background-attachment: scroll;
		background-position: cover;
		width: 100% !important;
		height: 500px;
		overflow: hidden;

	}

	#podio-form {
		min-height: 1200px !important;
	}

	}